{% extends "base.html" %}

{% block content %}
<header>
  <h1>{{project.title}}</h1>
  {{project.uuid}}
  <mark>{{project.state}}</mark>
</header>

<section>
  <div>
    <mark>Background set</mark>
    : {{project.background}}
  </div>
  <div>
    <mark>Impact</mark>
    : {{project.impact}}
  </div>
  <div>
    <mark>Frequency</mark>
    : {{project.frequency}}
  </div>
  <div>
    <mark>CADD Score</mark>
    : {{project.cadd_score}}
  </div>
  <div>
    <mark>Mutation Taster Score</mark>
    : {{project.mutation_taster_score}}
  </div>
  <div class="detail detail--genes" data-file="{{project.genes}}">
    <mark>Genes</mark>
    : <span class="detail__value"></span>
  </div>

  <form method="POST">{% csrf_token %}
    <ul>
      {% for vcf in project.variantfile_set.all %}
      <li>
        <input type="checkbox" name="file_{{ vcf.id }}" value="1"/>
        {{ vcf.individual_name }}
      </li>
      {% endfor %}
    </ul>
    {% if project.variantfile_set.all %}
    <input type="submit" name="delete-files" value="Delete selected files">
    {% endif %}
  </form>

  <a href="{% url 'file-upload' project.uuid %}">Add a new VCF file</a>
</section>


<ul>
  {% for job in project.backgroundjob_set.all %}
  <li>{{ job.name }}, {{ job.state }}</li>
  {% endfor %}
</ul>

<a href="{% url 'confirm-processing' project.uuid %}">Start processing</a>

<a href="{% url 'project-update' project.uuid %}">Update parameters</a>

{% if project.state == "done" %}
<a href="{% url 'project-results' project.uuid %}">Show results</a>
{% endif %}

{% endblock content %}
