.alert-debug {
  background-color: #fff;
  border-color: #d6e9c6;
  color: #000; }

.alert-error {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48; }

.button {
  -webkit-box-shadow: none !important;
          box-shadow: none !important; }
  .button--primary {
    background-color: #7392b7;
    border-color: #7392b7;
    color: #ffffff; }
    .button--primary:hover {
      background-color: #5478a3;
      border-color: #5478a3;
      color: #ffffff; }
  .button--secondary {
    border-color: #7392b7; }
    .button--secondary:hover {
      background-color: #fafbfc; }

.is-hidden {
  display: none; }

.results-table tr:nth-child(2n + 1) td, .results-table tr:nth-child(2n + 1) th {
  border-top-width: 2px; }

.results-table__compact .is-additional {
  display: none; }

.filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 42px 0; }
  .filter__button {
    margin-right: 32px; }
    .filter__button.is-active {
      background: #7392b7;
      border-color: #7392b7;
      color: #ffffff; }
  .filter__input {
    width: 100px;
    margin-left: 5px; }

.container {
  padding: 42px 0; }

.project-header {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-right: 400px; }
  .project-header__uuid {
    position: absolute;
    right: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    width: 400px;
    text-align: right; }
  .project-header__state {
    padding: 2px 5px;
    margin-left: 10px;
    background-color: #fdf7fa; }
    .project-header__state--done {
      background-color: #c5d86d; }

.project-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 42px; }

.project-image {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-left: 42px; }
  .project-image__description {
    text-align: center; }

.project-details {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1; }

.project-detail + .project-detail {
  margin-top: 10px; }

.project-detail__files {
  list-style: none; }
  .project-detail__files li {
    margin-top: 5px; }

.project-jobs {
  margin-top: 62px; }

.project-actions {
  margin-top: 42px; }

.results-actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
