// project specific CSS goes here

////////////////////////////////
		//Variables//
////////////////////////////////

// Alert colors

$white: #fff;
$mint-green: #d6e9c6;
$black: #000;
$pink: #f2dede;
$dark-pink: #eed3d7;
$red: #b94a48;

////////////////////////////////
		//Alerts//
////////////////////////////////

// bootstrap alert CSS, translated to the django-standard levels of
// debug, info, success, warning, error

.alert-debug {
  background-color: $white;
  border-color: $mint-green;
  color: $black;
}

.alert-error {
  background-color: $pink;
  border-color: $dark-pink;
  color: $red;
}

@import "variables";
@import "ui-elements";
@import "base";

.project-header {
    position: relative;
    display: flex;
    align-items: flex-start;
    padding-right: 400px;

    &__uuid {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 400px;
        text-align: right;
    }

    &__state {
        padding: 2px 5px;
        margin-left: 10px;
        background-color: color(snow);

        &--done {
            background-color: color(june-bud);
        }
    }
}

.project-body {
    display: flex;
    margin-top: 42px;
}

.project-image {
    display: inline-block;
    flex-shrink: 0;
    width: auto;

    .project-body & {
        margin-left: 42px;
    }

    &__description {
        text-align: center;
    }
}

.project-details {
    flex-grow: 1;
}

.project-detail {
    & + & {
        margin-top: 10px;
    }

    & + .actions,
    .actions + & {
        margin-top: 20px;
    }

    &__files {
        list-style: none;

        li {
            margin-top: 5px;
        }
    }
}

.project-jobs {
    margin-top: 62px;
}

.project-actions {
    margin-top: 62px;
}

.form-actions {
    margin-top: 42px;
    align-items: center;
}

.results-actions {
    justify-content: space-between;
}
