.button {
    box-shadow: none!important;

    &--primary {
        background-color: color(cerulean-frost);
        border-color: color(cerulean-frost);
        color: color(white);

        &:hover {
            background-color: darken(color(cerulean-frost), 10%);
            border-color: darken(color(cerulean-frost), 10%);
            color: color(white);
        }
    }

    &--secondary {
        border-color: color(cerulean-frost);

        &:hover {
            background-color: lighten(color(cerulean-frost), 40%);
        }
    }
}

.is-hidden {
    display: none;
}

.table-results {
    tr:nth-child(2n + 1) {
        td, th {
            border-top-width: 2px;
        }
    }

    &__compact {
        .is-additional {
            display: none;
        }
    }
}

.filter {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 42px 0;

    &__button {
        margin-right: 32px;

        &.is-active {
            background: color(cerulean-frost);
            border-color: color(cerulean-frost);
            color: color(white);
        }
    }

    &__input {
        width: 100px;
        margin-left: 5px;
    }
}
