$colors: (
    white: #ffffff,
    snow: #fdf7fa,
    gainsboro: #d8e1e9,
    cerulean-frost: #7392b7,
    black-olive: #423e37,
    bittersweet: #f96f5d
);

@function color($name) {
    @return map-get($colors, $name);
}
